{% extends 'base.html' %}
{% block content %}

<form class="col-md-9 ms-sm-auto col-lg-10 px-md-4" action="/add_olt" method="post">
  
  <br>

  <label for="POST-name">Lable</label>
  <br>
  <input type="text" name="name"><br>
  IP<br>
  <input type="text" name="ip"><br>
  Port<br>
  <input type="text" name="port"><br>
  Community<br>
  <input type="text" name="community"><br>
  <label for="POST-name">Выберите вышестоящее устройство</label><br>
  <select name="parent_host">
    {% for i in parents_hosts %}
    <option value="{{i['id']}}">{{i['name']}}({{i['ip']}})</option>
    {% endfor %}
  </select>
  <br>
  <br>
  <input type="submit" value="Добавить">
</form>

{% endblock %}
