
{% extends 'base.html' %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">




      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">login</th>
              <th scope="col">Адрес</th>
              <th scope="col">Старый адрес</th>
              <th scope="col">MAC address Onu</th>
              <th scope="col">Приставка</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
            <tr>
              <td>{{i[0]}}</td>
              <td>{{i[1]}}</td>
              <td>{{i[2]}}</td>
              <td>{{i[3]}}</td>
              <td>{{i[4]}}</td>
              <td>{{i[5]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}