{% extends 'base.html' %}
{% block content %}

<form class="col-md-9 ms-sm-auto col-lg-10 px-md-4" action="/add_dev" method="post">
  <label for="POST-name">Пользователь</label>
            <select name="user_select">
              <option value="">Выберите пользователя</option>
              <option value="">######</option>
            </select>
  <label for="POST-name">Роль</label>
            <select name="file_select">
              <option value="">Выберите роль</option>
              <option value="">#####</option>
            </select>
  <input type="submit" value="Save">
</form>

{% endblock %}